@use "../variables/variables.scss" as *;

.Button-Base {
  background: $primary-color;
  border: none;
  padding: 0.5rem;
  width: 100%;
  font-weight: bold;
  color: $secondary;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  min-width: 150px;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    filter: brightness(1);
  }
  &.variant-text {
    background-color: transparent;
    color: $primary-color;
  }
}
